*{
  margin:0;
  padding:0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: red; */
}

.btn{
  height: 4rem;
  width: 20rem;
  font-size: 2em;
  border-radius: 1.4rem;
  border : 2px solid;
  text-align: center;
}
